<% layout('layouts/boilerplate') %>

    <div id="home" class="page">

        <!-- Chef cards -->
        <div class="users py-4">
            <% for (let [index, user] of users.entries()) { %>
                <a href="users/<%= user._id %>">
                    <div class="user-stripe my-2">
                        
                            <!-- Text -->
                            <div class="text">
                                <!-- Name -->
                                <h2 class="name">
                                    <%= user.displayname %>
                                </h2>

                                <!-- Description -->
                                <p class="description">
                                    <%= user.description %>
                                </p>
                            </div>

                            <!-- Image -->
                            <img class="image" src="<%= user.imageUrl %>">
                    </div>
                </a>
            <% } %>
        </div>
    </div>