#home {
    background-image: url('../media/images/table_empty.jpg');

    background-attachment: fixed;
}

#home .users * {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#home .user-stripe {
    display: inline-flex;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

#home .user-stripe > .recipe {
    position: absolute;
    width: 100%;
}


/* With touch screen */
@media (hover: none) {
    #home .users {
        display: flex;
        justify-content: center;
    }

    #home .user-stripe {
        border-radius: 5px;
        padding: 30px;
        min-width: 400px;
        max-width: 600px;
        flex-direction: column;
    }

    #home .user-stripe > .chef {
        display: inline-flex;
        margin-bottom: 30px;
    }

    #home .user-stripe > .recipe {
        position: static;
        display: inline-flex;
    }
    
    #home .user-stripe > .chef > .text {
        padding: 5px 30px;
        flex: 1;
    }
    
    #home .user-stripe > .recipe > .recipe-text {
        padding: 10px 30px;
        flex: 1;
    }

    #home .user-stripe > .chef > .image > img {
        max-width: 100px;
        max-height: 100px;
    
        border-radius: 5px;
    }

    #home .user-stripe > .recipe > .recipe-image > img {
        max-width: 160px;
        max-height: 160px;

        border-radius: 5px;
    }
}


/* Without touch screen */
@media (hover: hover) {
    #home .user-stripe {
        height: 200px;
        width: 600px;
        border-radius: 0 5px 5px 0;
    }
    
    #home .user-stripe:hover > .chef > .text {
        opacity: 0;
        transition: opacity 0.2s linear;
    }
    
    #home .user-stripe:hover > .recipe > .recipe-text {
        opacity: 1;
        transition: opacity 0.3s linear 0.3s;
    }
    
    #home .user-stripe:hover > .chef > .image {
        opacity: 0;
        transition: opacity 0.2s linear;
    }
    
    #home .user-stripe:hover > .recipe > .recipe-image {
        opacity: 1;
        transition: opacity 0.3s linear 0.3s;
    }
    
    #home .user-stripe > .chef > .text {
        margin-left: 300px;
        padding: 40px 40px;
        flex: 1;
    
        opacity: 1;
        transition: opacity 0.3s linear 0.3s;
    }
    
    #home .user-stripe > .recipe > .recipe-text {
        margin-left: 300px;
        padding: 40px 40px;
        flex: 1;
        position: absolute;
    
        opacity: 0;
        transition: opacity 0.2s linear;
    }
    
    #home .user-stripe > .chef > .image {
        position: absolute;
        margin-left: 100px;

        opacity: 1;
        transition: opacity 0.3s linear 0.3s;
    }

    #home .user-stripe > .chef > .image > img {
        max-width: 200px;
        max-height: 200px;
    
        border-radius: 5px;
    
        padding: 3px;
    }
    
    #home .user-stripe > .recipe > .recipe-image {
        position: absolute;
        margin-left: 100px; 
    
        opacity: 0;
        transition: opacity 0.2s linear;
    }

    #home .user-stripe > .recipe > .recipe-image > img {
        max-width: 200px;
        max-height: 200px;
    }

    /* Breakpoints */
    @media (min-width: 640px) {
        #home .user-stripe {
            width: 600px;
        }
    }
        
    @media (min-width: 839px) {
        #home .user-stripe:hover > .chef > .image {
            opacity: 1;
            left: 500px;
            transition: left 0.3s ease;
        }

        #home .user-stripe:hover > .recipe > .recipe-image {
            left: 0px;
            transition: left 0.3s ease;
        }

        #home .user-stripe {
            position: static;
            width: 800px;
        }
        
        #home .user-stripe > .recipe > .recipe-text {
            margin-left: 300px;
        }

        #home .user-stripe > .chef > .image {
            opacity: 1;
            left: 0;
            transition: left 0.3s ease;
        }

        #home .user-stripe > .recipe > .recipe-image {
            opacity: 1;
            left: -500px;
            transition: left 0.3s ease;
        }
    }
        
    @media (min-width: 1024px) {
        #home .user-stripe {
            width: 1000px;
        }

        #home .user-stripe:hover > .chef > .image {
            opacity: 1;
            left: 700px;
            transition: left 0.3s ease;
        }

        #home .user-stripe:hover > .recipe > .recipe-image {
            left: 0px;
            transition: left 0.3s ease;
        }

        #home .user-stripe > .chef > .image {
            opacity: 1;
            left: 0;
            transition: left 0.3s ease;
        }

        #home .user-stripe > .recipe > .recipe-image {
            opacity: 1;
            left: -700px;
            transition: left 0.3s ease;
        }

        #home .user-stripe > .chef > .text {
            padding: 40px 60px;
        }
        
        #home .user-stripe > .recipe > .recipe-text {
            padding: 40px 60px;
        }
    }
}