#show {
    /* background-image: url('../media/images/fire.jpg'); */
    /* opacity: 0.5;
    background-size: cover; */
    position: relative;
}

#show::after {
    content: "";
    /* background-image: url('../media/images/fire.jpg'); */
    background: url('../media/images/baking.jpg');
    background-size: cover;
    opacity: 0.2;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#show #instructions * {
    color: black;
    background: transparent;
}

#show #info-card {
    border-radius: 35px;
    border: none;
    box-shadow: 0 0 8px rgba(1, 1, 1, 0.1);
}

#show #img-carousel-controls img {
    height: 11rem;
    width: 65%;
    object-fit: cover;
    border-radius: 30px;
}

#show #img-carousel-controls .carousel-control-prev-icon,
#show #img-carousel-controls .carousel-control-next-icon {
    filter: invert(1);
}

#show #tabs {
    background-color: rgb(217, 152, 152);
    max-width: 10rem;
    border-radius: 30px;
}

#show .nav-pills * {
    color: black;
}

#show .nav-pills .active {
    background-color: white;
    width: 100%;
    height: 0;
    pad: 0;
    padding-bottom: 70%;
    border-radius: 50%;
}

#show #add-post button {
    background-color: rgb(217, 152, 152);
    color: white;
}